<div class="navigation">
    <div class="toolbar">
        <div class="right-toolbar">
            <a href="#"><img src="../assets/img/logo.svg" alt="Logo" class="logo"></a>
            <div>
                <mat-icon class="search-icon">search</mat-icon>
                <input type="text" placeholder="جستجو" class="search-input">
            </div>
        </div>
        <div class="left-toolbar">
            <a href="#">
                <mat-icon class="login-icon">exit_to_app</mat-icon><button type="button" class="login-button">ورود | ثبت نام</button>
            </a>
            <span class="shopping-Space">|</span>
            <a href="#">
                <mat-icon class="shopping-icon">add_shopping_cart</mat-icon>
            </a>
        </div>
    </div>
    <div class="toolbar-MV">
        <mat-toolbar class="color-bg">
            <mat-toolbar-row>
                <mat-icon style="color: #292929">menu</mat-icon>
                <span class="example-spacer"></span>
                <a href="#"><img src="../assets/img/logo.svg" alt="Logo" class="logo-MV"></a>
                <mat-icon class="question-icon-MV">question_answer</mat-icon>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <div>
                    <mat-icon class="search-icon-MV">search</mat-icon>
                    <input type="text" placeholder="جستجو" class="search-input-MV">
                </div>
                <span class="example-spacer"></span>
                <div class="left-toolbar-MV">
                    <a href="#">
                        <mat-icon class="login-icon-MV">exit_to_app</mat-icon><button type="button" class="login-button-MV">ورود</button>
                    </a>
                    <a href="#">
                        <mat-icon class="shopping-icon-MV">add_shopping_cart</mat-icon>
                    </a>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <br>
    <ul class="Navbar">
        <li>
            <a style="font-family: font5;font-size: 15px;" class="Navbar-li" href="#">
                <mat-icon style="color: #000000" class="Navbar-icon">menu</mat-icon>دستبندی کالا ها</a>
        </li>
        <li>
            <a class="Navbar-li" href="#">
                <mat-icon class="Navbar-icon">local_dining</mat-icon>سوپر مارکت</a>
        </li>
        <li>
            <a class="Navbar-li" href="#">
                <mat-icon class="Navbar-icon">whatshot</mat-icon>پرفروش ترین ها</a>
        </li>
        <li>
            <a class="Navbar-li" href="#">
                <mat-icon class="Navbar-icon">loyalty</mat-icon>تخفیف ها و پیشنهاد ها</a>
        </li>
        <li>
            <a class="Navbar-li" href="#">
                <mat-icon class="Navbar-icon">rowing</mat-icon>شگفت انگیزها</a>
        </li>
        <li>
            <a style="margin-right: 0;" class="Navbar-li" href="#">سوالی دارید؟</a>
        </li>
        <li>
            <a style="margin-right: 0;" class="Navbar-li" href="#">فروشنده شوید!</a>
        </li>
        <li style="float:left">
            <a class="Navbar-left" style="color: rgb(39, 39, 39);text-align: center;padding: 14px 14px 6px 14px;text-decoration: none;float: right;font-family: font4;font-size: 13px;margin-right: 14px;" href="#">
                <mat-icon style="color: #5c5c5c;font-size: 22px;margin-top: -3px;" class="Navbar-icon">not_listed_location</mat-icon>لطفا شهر خود را انتخاب کنید</a>
        </li>
    </ul>
</div>
<div>
    <div class="bg-button">
        <a class="next" (click)="nextSlides()">
            <mat-icon>navigate_next</mat-icon>
        </a>
        <br><br>
        <a class="prev" (click)="prevSlides()">
            <mat-icon>navigate_before</mat-icon>
        </a>
    </div>
    <a href="#"><img src="{{img}}" class="bg-banner"></a>
</div>
<div class="content">
    <div class="row content-sm-icon">
        <a href="#" class="col text-decoration">
            <img class="sm-icon" src="../assets/img/sm-icon1.png">
            <p class="content-sm-icon-text">دیجی کالا مهر</p>
        </a>
        <a href="#" class="col text-decoration">
            <img class="sm-icon" src="../assets/img/sm-icon2.png">
            <p class="content-sm-icon-text">ماموریت ها</p>
        </a>
        <a href="#" class="col text-decoration">
            <img class="sm-icon" src="../assets/img/sm-icon3.png">
            <p class="content-sm-icon-text">دیجی کالا جت</p>
        </a>
        <a href="#" class="col text-decoration">
            <img class="sm-icon" src="../assets/img/sm-icon4.png">
            <p class="content-sm-icon-text">دیجی پلاس</p>
        </a>
        <a href="#" class="col text-decoration">
            <img class="sm-icon" src="../assets/img/sm-icon5.png">
            <p class="content-sm-icon-text">دیجی پی</p>
        </a>
        <a href="#" class="col text-decoration">
            <img class="sm-icon" src="../assets/img/sm-icon6.png">
            <p class="content-sm-icon-text">دیجی کلاب</p>
        </a>
    </div>
    <a href="#"><img class="amazing-market-banner" src="../assets/img/amazing-market-banner.png"></a>
    <a href="#"><img class="amazing-market-banner-MV" src="../assets/img/amazing-market-banner1.png"></a>
    <div class="row">
        <a href="#" class="col"><img class="sm-banner" src="../assets/img/sm-banner1.jpg"></a>
        <a href="#" class="col"><img class="sm-banner" src="../assets/img/sm-banner2.jpg"></a>
        <a href="#" class="col"><img class="sm-banner" src="../assets/img/sm-banner3.jpg"></a>
        <a href="#" class="col"><img class="sm-banner" src="../assets/img/sm-banner4.jpg"></a>
    </div>
    <p class="text">دسته‌بندی‌های‌ دیجی‌کالا</p>
    <div class="row categories">
        <a href="#" class="col text-decoration">
            <img class="icon-categories" src="../assets/img/categories-icon1.png">
            <p class="content-sm-icon-text">کالای دیجیتال</p>
        </a>
        <a href="#" class="col text-decoration">
            <img class="icon-categories" src="../assets/img/categories-icon2.png">
            <p class="content-sm-icon-text">کتاب، لوازم تحریر و هنر</p>
        </a>
        <a href="#" class="col text-decoration">
            <img class="icon-categories" src="../assets/img/categories-icon3.png">
            <p class="content-sm-icon-text">مد و پوشاک</p>
        </a>
        <a href="#" class="col text-decoration">
            <img class="icon-categories" src="../assets/img/categories-icon4.png">
            <p class="content-sm-icon-text">محصولات بومی و محلی</p>
        </a>
        <a href="#" class="col text-decoration">
            <img class="icon-categories" src="../assets/img/categories-icon5.png">
            <p class="content-sm-icon-text">کالاهای سوپرمارکتی</p>
        </a>
        <a href="#" class="col text-decoration">
            <img class="icon-categories" src="../assets/img/categories-icon6.png">
            <p class="content-sm-icon-text">ابزار و تجهیزات صنعتی</p>
        </a>
        <a href="#" class="col text-decoration">
            <img class="icon-categories" src="../assets/img/categories-icon7.png">
            <p class="content-sm-icon-text">ورزش و سفر</p>
        </a>
        <a href="#" class="col text-decoration">
            <img class="icon-categories" src="../assets/img/categories-icon8.png">
            <p class="content-sm-icon-text">زیبایی و سلامت</p>
        </a>
        <a href="#" class="col text-decoration">
            <img class="icon-categories" src="../assets/img/categories-icon9.png">
            <p class="content-sm-icon-text">اسباب بازی، کودک و نوزاد</p>
        </a>
        <a href="#" class="col text-decoration">
            <img class="icon-categories" src="../assets/img/categories-icon10.png">
            <p class="content-sm-icon-text">خانه و آشپزخانه</p>
        </a>
    </div>
    <div class="row">
        <a href="#" class="col">
            <img class="quadruple-banner" src="../assets/img/banner3.jpg">
        </a>
        <a href="#" class="col">
            <img class="quadruple-banner" src="../assets/img/banner2.jpg">
        </a>
    </div>
    <a href="#">
        <img class="banner5" src="../assets/img/banner5.jpg">
    </a>
    <p class="text">پیشنهاد دیجی‌کالا</p>
    <div class="Proposal row">
        <a href="#" class="col text-decoration">
            <img class="icon-Proposal" src="../assets/img/product1.jpg">
            <p class="price-product">۵۵,۸۰۰,۰۰۰ تومان</p>
        </a>
        <a href="#" class="col text-decoration">
            <img class="icon-Proposal" src="../assets/img/product2.jpg">
            <p class="price-product">۵,۵۵۰,۰۰۰ تومان</p>
        </a>
        <a href="#" class="col text-decoration">
            <img class="icon-Proposal" src="../assets/img/product3.jpg">
            <p class="price-product">۸,۰۰۰,۰۰۰ تومان</p>
        </a>
        <a href="#" class="col text-decoration">
            <img class="icon-Proposal" src="../assets/img/product4.jpg">
            <p class="price-product">۴,۲۱۹,۰۰۰ تومان</p>
        </a>
        <a href="#" class="col text-decoration">
            <img class="icon-Proposal" src="../assets/img/product5.jpg">
            <p class="price-product">۸۹,۰۰۰ تومان</p>
        </a>
        <a href="#" class="col text-decoration">
            <img class="icon-Proposal" src="../assets/img/product6.jpg">
            <p class="price-product">۸۰,۰۰۰ تومان</p>
        </a>
        <a href="#" class="col text-decoration">
            <img class="icon-Proposal" src="../assets/img/product7.jpg">
            <p class="price-product">۶,۱۷۰,۰۰۰ تومان</p>
        </a>
        <a href="#" class="col text-decoration">
            <img class="icon-Proposal" src="../assets/img/product8.jpg">
            <p class="price-product">۱۲,۸۹۰,۰۰۰ تومان</p>
        </a>
        <a href="#" class="col text-decoration">
            <img class="icon-Proposal" src="../assets/img/product9.jpg">
            <p class="price-product">۱,۰۰۰,۰۰۰ تومان</p>
        </a>
        <a href="#" class="col text-decoration">
            <img class="icon-Proposal" src="../assets/img/product10.jpg">
            <p class="price-product">۲۹۵,۰۰۰ تومان</p>
        </a>
        <a href="#" class="col text-decoration">
            <img class="icon-Proposal" src="../assets/img/product11.jpg">
            <p class="price-product">۲,۹۳۰,۰۰۰ تومان</p>
        </a>
        <a href="#" class="col text-decoration">
            <img class="icon-Proposal" src="../assets/img/product12.jpg">
            <p class="price-product">۱۰۳,۰۰۰ تومان</p>
        </a>
    </div>
    <a href="#">
        <img class="banner5MV" src="../assets/img/banner5MV.jpg">
    </a>
    <p class="text">محبوب‌ترین برندها</p>
    <div class="popular-brand row">
        <a href="#" class="col">
            <img class="icon-popular" src="../assets/img/popular-brand1.png">
        </a>
        <a href="#" class="col">
            <img class="icon-popular" src="../assets/img/popular-brand2.jpg">
        </a>
        <a href="#" class="col">
            <img class="icon-popular" src="../assets/img/popular-brand3.png">
        </a>
        <a href="#" class="col">
            <img class="icon-popular" src="../assets/img/popular-brand4.png">
        </a>
        <a href="#" class="col">
            <img class="icon-popular" src="../assets/img/popular-brand5.png">
        </a>
        <a href="#" class="col">
            <img class="icon-popular" src="../assets/img/popular-brand6.png">
        </a>
    </div>
    <div class="row">
        <a href="#" class="col">
            <img class="quadruple-banner" src="../assets/img/banner1.gif">
        </a>
        <a href="#" class="col">
            <img class="quadruple-banner" src="../assets/img/banner4.gif">
        </a>
    </div>
    <p class="text">خواندنی‌ها</p>
    <div class="readings">
        <div class="icon-readings">
            <a href="#" class="text-decoration">
                <img class="img-readings" src="../assets/img/Readings1.png">
                <p class="text-readings">آموزش دانگرید از نسخه‌ی بتای iOS 16 به iOS 15</p>
            </a>
        </div>
        <div class="icon-readings">
            <a href="#" class="text-decoration">
                <img class="img-readings" src="../assets/img/Readings2.jpg">
                <p class="text-readings">بررسی بازی کارتی اوگا بوگا؛ زبان انسان‌های اولیه را یاد بگیرید</p>
            </a>
        </div>
        <div class="icon-readings">
            <a href="#" class="text-decoration">
                <img class="img-readings" src="../assets/img/Readings3.jpg">
                <p class="text-readings">بررسی گوشی پوکو F4 GT؛ فوق‌العاده برای گیمینگ با شارژر ۱۲۰ واتی</p>
            </a>
        </div>
        <div class="icon-readings">
            <a href="#" class="text-decoration">
                <img class="img-readings" src="../assets/img/Readings4.jpg">
                <p class="text-readings">سری آیفون ۱۴ ممکن است تنها از فناوری eSIM پشتیبانی کند</p>
            </a>
        </div>
    </div>
</div>
<hr class="hr-footer">
<div class="footer">
    <div class="footer-MV">
        <img class="digi" src="../assets/img/digi.png">
        <a (activate)="backToTop()" href="#" class="back-to-top">
            <mat-icon class="back-to-top-icon">keyboard_arrow_up</mat-icon><button type="button" class="back-to-top-button">بازگشت به بالا</button>
        </a>
        <p style="color: #5c5c5c;font-size: 16px;margin-top: 12px;font-family: font4;">تلفن پشتیبانی ۶۱۹۳۰۰۰۰ - ۰۲۱ | ۷ روز هفته، ۲۴ ساعته پاسخگوی شما هستیم</p>
    </div>
    <div class="row footer-icons">
        <a href="#" class="col text-decoration">
            <img class="footer-icon" src="../assets/img/footer-icon1.png">
            <p class="text-footer-icon">اﻣﮑﺎن ﺗﺤﻮﯾﻞ اﮐﺴﭙﺮس</p>
        </a>
        <a href="#" class="col text-decoration">
            <img class="footer-icon" src="../assets/img/footer-icon2.png">
            <p class="text-footer-icon">امکان پرداخت در محل</p>
        </a>
        <a href="#" class="col text-decoration">
            <img class="footer-icon" src="../assets/img/footer-icon3.png">
            <p class="text-footer-icon">ﺿﻤﺎﻧﺖ اﺻﻞ ﺑﻮدن ﮐﺎﻟﺎ</p>
        </a>
        <a href="#" class="col text-decoration">
            <img class="footer-icon" src="../assets/img/footer-icon4.png">
            <p class="text-footer-icon">۷ روز ﻫﻔﺘﻪ، ۲۴ ﺳﺎﻋﺘﻪ</p>
        </a>
        <a href="#" class="col text-decoration">
            <img class="footer-icon" src="../assets/img/footer-icon5.png">
            <p class="text-footer-icon">هفت روز ضمانت بازگشت کالا</p>
        </a>
    </div>
    <hr class="hr-footer">
    <div style="float:right;">
        <p style="color: #5c5c5c;font-size: 14px;margin-top: 28px;font-family: font3;">فروشگاه اینترنتی دیجی‌کالا، بررسی، انتخاب خرید آنلاین</p>
        <p style="color: #5c5c5c;font-size: 14px;margin-top: 22px;font-family: font4;">تمام حقوق وب‌سايت برای شرکت نوآوران فن آوازه است.</p>
    </div>
    <div style="float:left;">
        <img class="symbols" src="../assets/img/symbols.png">
    </div>
</div>